.comic_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(165, 154, 114);
    position: relative;
    padding: 10%;
    box-sizing: border-box;
}

.comic_row{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.comic_row:first-child {
    margin-top: unset;
}